<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Document</title>
</head>

<body>
	<style>
		.A4 {
    background: white;
    width: 21cm;
    display: block;
    margin: 0 auto;
    padding: 10px 25px;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    overflow-y: scroll;
    box-sizing: border-box;
    font-size: 12pt;
    overflow: hidden;
}

@media print {
    .page-break {
        display: block;
        page-break-before: always;
    }

    size: A4 portrait;
}

@media print {
    body {
        margin: 0;
        padding: 0;
    }

    .A4 {
        box-shadow: none;
        margin: 0;
        width: auto;
        height: auto;
    }

    .noprint {
        display: none;
    }

    .enable-print {
        display: block;
    }
}

.header-wrapper {
    width: 100%;
    display: inline-block;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;

}

.skills-wrapper {
    width: 100%;
    display: inline-block;
    margin: 0;
    padding-top: 5px;

}

.education-wrapper {
    width: 100%;
    display: inline-block;
    margin: 0;
    padding-top: 5px;

}

.name-container {
    display: inline-block;
    float: left;
    width: 33%;
}

.email-container {
    display: inline-block;
    float: right;
    width: 35%;
    margin: 0;
}

hr.new1 {
    border: 1px solid;
    margin: 5px;
    padding: 0;


}

h1,
h2.left-side {
    padding: 0;
    margin: 0;
}

hr {
    margin: 0;
    padding: 0;
}

.left-container {
    display: inline-block;
    float: left;
    width: 25%;


}

.right-container {
    display: inline-block;
    float: right;
    width: 75%;
    align-content: center;


}

.left-text {
    display: inline-block;
    float: left;



}

.right-text {
    display: inline-block;
    float: right;


}

.list-container1 {
    display: inline-block;
    float: left;
    width: 33%;
}
	</style>

	<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	
	<div class="A4">
		<div class="header-wrapper">
			<div class="name-container">
				<h1>
					{{name}}
				</h1>
			</div>
			<div class="content-container">

			</div>
			<div class="email-container">
				<i class="bi bi-house"> {{address}}</i><br />
				<i class="bi bi-envelope"> {{email}} </i><br />
				<i class="bi bi-telephone"> {{phone}}</i>
			</div>
		</div>
		<hr class="new1" />

		<div class="skills-wrapper">

			<div class="left-container">
				<h2 class="left-side">
					<p class="fst-italic">Objective</p>
				</h2>
			</div>
			<div class="right-container">
				<div style="width:100%;">
					{{objective}}
				</div>
			</div>
		</div>
		<hr />

		<div class="skills-wrapper">

			<div class="left-container">
				<h2 class="left-side">
					<p class="fst-italic">Key Skills</p>
				</h2>
			</div>
			<div class="right-container">
				<div style="width:100%;">
					<div class="list-container1">
						<ul style="list-style-type:none;">
							{{#each skills1}}
						<li><i class="bi bi-check">{{this}}</i></li>
						{{/each}}
							
						</ul>
					</div>
					<div class="list-container1">
						<ul style="list-style-type:none;">
							{{#each skills2}}
						<li><i class="bi bi-check">{{this}}</i></li>
						{{/each}}
						</ul>
					</div>
					<div class="list-container1">
						<ul style="list-style-type:none;">
							{{#each skills3}}
						<li><i class="bi bi-check">{{this}}</i></li>
						{{/each}}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<hr />
		<div class="skills-wrapper">

			<div class="left-container">
				<h2 class="left-side">
					<p class="fst-italic"> Education</p>
				</h2>
			</div>
			<div class="right-container">

				<div style="width:100%;">
					<div class="left-text"><strong>{{education1/university}} </strong></div>
					<div class="right-text">{{education1/time}}</div>
				</div><br />{{education1/course}}<br />{{education1/location}} <br />{{education1/achievement}}
				<br /><br />
				<div style="width:100%;">
					<div class="left-text"><strong>{{education2/university}} </strong></div>
					<div class="right-text">{{education2/time}}</div>
				</div><br />{{education2/course}} <br /> {{education2/location}} <br />{{education2/achievement}}

			</div>

		</div>

		<hr />
		<div class="skills-wrapper">
			<div class="left-container">
				<h2 class="left-side">
					<p class="fst-italic"> Experiance </p>
				</h2>
			</div>
			<div class="right-container">

				<div style="width:100%;">
					<div class="left-text"><strong>{{work1/position}}</strong></div>
					<div class="right-text">{{work1/time}}</div>
				</div> <br /><strong>{{work1/company}} </strong><br />
				<ul>
					{{#each work1/details}}
						<li>{{this}}</li>
						{{/each}}
				</ul>
				<br /><br />
				<div style="width:100%;">
					<div class="left-text"><strong>{{work2/position}}</strong></div>
					<div class="right-text">{{work2/time}}</div>
				</div> <br /><strong>{{work2/company}} </strong><br />
				<ul>
					{{#each work2/details}}
						<li>{{this}}</li>
						{{/each}}
				</ul>
			
			</div>
		</div>
	{{#if watermark}}
			<td class="info-small text-right info-middle">
				<p>Resume Creator - Unregistered version</p>
			</td>
			{{/if}}
	</div>


	</div>

	

</body>

</html>